<section  class="container-section">
        
    <div class="text-center">
        <h1>Mi
            <span class="mi">portafolio</span>
        </h1>
        <span class="subtitulo">
            <p>Algunos proyectos de diseño </p>
        </span>
    </div>

    <div class="portafolio">

        <div class="container2">
            <a href="#">
                <img  src="assets/img/project-1.jpg">
            </a>
            <div class="content">
                <h3>Editorial</h3>
            </div>
        </div>  
        
        <div class="container2">
            <a href="#">
                <img  src="assets/img/project-2.jpg">
            </a>
            <div class="content">
                <h3>Marketing</h3>
            </div>
        </div>    

        <div class="container2">
            <a href="#">
                <img  src="assets/img/project-3.jpg">
            </a>
            <div class="content">
                <h3>Editorial</h3>
            </div>
        </div>    
    </div> 

    <div class="portafolio">    

        <div class="container2">
            <a href="#">
                <img  src="assets/img/project-4.jpg">
            </a>
            <div class="content">
                <h3>Editorial</h3>
            </div>
        </div> 

        <div class="container2">
            <a href="#">
                <img  src="assets/img/project-5.jpg">
            </a>
            <div class="content">
                <h3>Editorial</h3>
            </div>
        </div> 

        <div class="container2">
            <a href="#">
                <img  src="assets/img/project-6.jpg">
            </a>
            <div class="content">
                <h3>Editorial</h3>
            </div>
        </div> 
    </div>  
         
</section>

<div class="video"> 

    <iframe width="660" height="415" src="https://www.youtube.com/embed/Qk0fiNebwzk?si=G1ka8yWho2CQ96FO" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen >
</iframe>
</div> 
