    <div class="menu container">
        <a href="index.html" class="logo">
            <img class="logoblanco" src="assets/img/00.png" alt="logo">
            <img class="logonegro"  src="assets/img/0B.png" alt="logo">
        </a>            
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="assets/img/0A.png" class="menu-icono" alt="">
        </label>

        <nav class="navbar">
            <ul>
                <li><a [routerLink]="['/inicio']" routerLinkActive="active" >INICIO</a></li>
                <li><a [routerLink]="['/acerca-de-mi']" routerLinkActive="active" >ACERCA DE MI</a></li>
                <li><a [routerLink]="['/portafolio']" routerLinkActive="active" >PORTAFOLIO</a></li>
                <li><a [routerLink]="['/contacto']" routerLinkActive="active" >CONTACTO</a></li>
            </ul>
        </nav>    
    </div>

  
