.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    padding-top: 20px;
    font-size: 24px;
    color: aliceblue;
    font-weight: 800;
    text-transform: uppercase;

}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 15px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
 }

 .menu .navbar ul li a:hover {
    color:#3C8ECA;

}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.logonegro{
    display: none;
}

