.text-center h1 {
    position: relative;
    vertical-align: middle;
    align-items: center;
    color: rgb(92, 92, 92);
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.mi{    
    color:#3C8ECA;   
}

.subtitulo {
    position: relative;
    display: inline-block;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(92, 92, 92);
    margin: 5px 0 0;
    box-sizing: border-box;
}
