    <div class="menu container">
        <a href="index.html" class="logo">
            <img src="assets/img/0B.png" alt="logo">
        </a>  
        <input type="checkbox" id="menu">
        <label for="menu">
            <img src="assets/img/0A.png" class="menu-icono" alt="">
        </label>

        <nav class="navbar">
            <ul>
                <li><a href="index.html">INICIO</a></li>
                <li><a href="acerca-de-mi.html">ACERCA DE MI</a></li>
                <li><a href="portfolio.html">PORTAFOLIO</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
