<div class="linea" >
    <hr class="linea 2">
</div> 

<div class="container-habilidades">
    <div class="titulo-habilidades">
        <h2>Habilidades</h2>
    </div>

    <div class="reumen-habilidad">
        <div class="list-2">                  
            <p class="habilidad">Indesaing</p>
            <div class="progress">
                <div class="progress-bar" style="width:100%;">
                    <span class="progress-bar-text">100%</span>
                </div>
            </div>
        </div> 

        <div class="list-2">                  
            <p class="habilidad">Photoshop</p>
            <div class="progress">
                <div class="progress-bar" style="width:90%;">
                    <span class="progress-bar-text">90%</span>
                </div>
            </div>
        </div> 
    </div>

    <div class="reumen-habilidad">
        <div class="list-2">                  
            <p class="habilidad">Illustrator</p>
            <div class="progress">
                <div class="progress-bar" style="width:90%;">
                    <span class="progress-bar-text">90%</span>
                </div>
            </div>
        </div> 

        <div class="list-2">                  
            <p class="habilidad">Aftter</p>
            <div class="progress">
                <div class="progress-bar" style="width:30%;">
                    <span class="progress-bar-text">30%</span>
                </div>
            </div>
        </div> 
    </div>

    <div class="reumen-habilidad">
        <div class="list-2">                  
            <p class="habilidad">Articulate</p>
            <div class="progress">
                <div class="progress-bar" style="width:70%;">
                    <span class="progress-bar-text">70%</span>
                </div>
            </div>
        </div> 

        <div class="list-2">                  
            <p class="cargo">Microsoft office</p>
            <div class="progress">
                <div class="progress-bar" style="width:70%;">
                    <span class="progress-bar-text">70%</span>
                </div>
            </div>
        </div> 
    </div>
                 
</div>