.container-tabla{
    width: 500px;
    position: absolute;
    margin-top: 30px;
    margin-left: 160px;
    
   
}

.formulario{
    width: 600px;
    margin-left: 400px;
    margin-top: 45px;
    

}

.ref-titulo{
    color: rgb(92, 92, 92);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    padding-top: 20px;
    width: 100px;
    
}



.descricion{
    color: rgb(92, 92, 92);
    font-size: 15px;
    width: 300px;
    text-align: left;

}

.texto{
    color: rgb(92, 92, 92);
    font-size: 15px;
    text-align: left;

}

.icono1{
    width:15px;
    float: left;
    margin-top: 6px;
    margin-right: 10px; 

}

.linea{
    box-sizing: border-box;
    color: #555;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
    padding-bottom: 30px;
    opacity: 60%;
} 

.map-responsive {
    overflow:hidden;
    padding-bottom:400px; /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
